* {
	user-select: none;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	margin: 0;
	/* border: 1px solid #4b4b4b; */
	padding: 32px 16px 16px 16px;
}

div#header {
	height: 40px;
	background-color: #FFFFFF;
}

#question {
	font-size: 24px;
	color: #4b4b4b;
	text-align: left;
	user-select: text;
}

#prog-container {
	width: 90%;
	height: 12px;
	margin: 0 auto;
	border-radius: 8px;
	background-color: #e5e5e5;
}

#prog-bar {
	width: 0%;
	height: 12px;
	font-size: 12px;
	line-height: 12px;
	text-align: center;
	color: #FFFFFF;
	border-radius: 8px;
	background-color: #58cc02;
}

#options {
	width: 100%;
	padding: 16px 0;
}

#options div {
	/* 左右居中 */
	width: 360px;
	height: 48px;
	margin: auto;
	text-align: center;
	margin-bottom: 6px;
	border-radius: 8px;
}

#options div.unseled {
	border: 2px solid #e5e5e5;
	border-bottom: 4px solid #e5e5e5;
}

#options div.unseled:hover {
	background-color: #f7f7f7;
}

#options div span.optn {
	float: left;
	width: 32px;
	height: 32px;
	border-radius: 8px;
	border: 2px solid #e5e5e5;
}

#options div span.optn {
	width: 24px;
	height: 24px;
	margin: 10px;
	display: block;
	font-size: 14px;
	color: #b8b8b8;
	line-height: 24px;
	font-weight: bold;
}

#options div span.text {
	color: #4b4b4b;
	font-size: 18px;
	line-height: 48px;
}

button {
	width: 120px;
	border: none;
	height: 48px;
	cursor: pointer;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 44px;
	font-weight: bold;
	border-radius: 14px;
	background-color: #58cc02;
	border-bottom: 4px solid #68b631;
	/* 固定位置 */
	right: 16px;
	bottom: 16px;
	position: fixed;
}

button:hover {
	background-color: #61e002;
	border-bottom: 4px solid #72c836;
}

button:active {
	border: none;
	transform: translateY(1px);
}

button:disabled {
	border: none;
	color: #afafaf;
	background-color: #e5e5e5;
}

.seled {
	border: 2px solid #84d8ff;
	background-color: #ddf4ff;
	border-bottom: 4px solid #84d8ff;
}

.seled:hover {
	border: 2px solid #84d8ff;
	background-color: #ddf4ff;
	border-bottom: 4px solid #84d8ff;
}

/* 页面宽度小于等于600px时 */
@media (max-width: 600px) {
	#prog-container {
		width: 90%;
	}
}

/* 页面宽度大于600px时 */
@media (min-width: 601px) {
	#prog-container {
		width: 512px;
	}

	#question {
		width: 512px;
		margin: auto;
	}
}

/* 结果展示 */
body {
	text-align: center;
}

table#result,
table#result th,
table#result td {
	font-size: 16px;
	text-align: center;
	border-collapse: collapse;
	border: 1px solid #e5e5e5;
}

table#result tr:nth-child(even) {
	background-color: #f3f3f3;
}

table#result tr:hover {
	background-color: #e5e5e5;
}

table#result td {
	height: 24px;
	line-height: 24px;
}

table#result {
	width: 320px;
	margin: auto;
}

table#result th {
	height: 24px;
	color: #FFFFFF;
	line-height: 24px;
	background-color: #58cc02;
}

div#buttons {
	padding-top: 16px;
}

button#back {
	border-radius: 16px 0 0 16px;
}

button#bank {
	border-radius: 0 0 0 0;
}

button#opts {
	border-radius: 0 16px 16px 0;
}

button#back,
button#bank,
button#opts {
	width: 96px;
	position: static;
}